# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Pratik Tiwari\IdeaProjects\split-pay-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/node_modules/
/.idea/
/package-lock.json
/split-pay-backend.iml
/DbConfig.js
